* {
  box-sizing: border-box;
  transition: background-color 0.10s ease, color 0.10s ease;
}

html, body {
  /*background-color: #E8755C;*/
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* COLOR MODES */
body.light {
  background-color: white;
  color: #333333;
}

body.dark {
  background-color: #333333;
  color: white;
}

.virtualmark {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  padding: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: stretch;
  font-family: 'Menlo';
}

.view {
  height: 100vh;
  flex: 2 0 50%;
  text-align: left;
  padding: 1em;
  margin-right: 215px;
}

.sidebar {
  flex: 1 0 auto;
  height: 100vh;
  display: flex;
  padding: 1em;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: stretch;
}

.items {
  flex: 2 0 auto;
}

.buttons {
  align-self: center;
}


.buttons > * {
  font-family: 'Helvetica';
  font-weight: 300;
  width: 120px;
  flex: 2 0 auto;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 0;
}

body.light .sidebar .write-header {
  background-color: white;
  border: 2px solid  #333333;
  color: #333333;
}

body.light .sidebar .read-header {
  background-color: #333333;
  border: 2px solid white;
  color: white;
}

body.dark .sidebar .read-header {
  background-color: white;
  border: 2px solid  #333333;
  color: #333333;
}

body.dark .sidebar .write-header {
  background-color: #333333;
  border: 2px solid white;
  color: white;
}

.sidebar h2.read-header, .sidebar h2.write-header {
  margin: 0;
  padding: 0.75em;
  border-top: none !important;
}

.color-mode {
  padding: 0.5em;
}

.view-toggle {
  display: inline-block;
  width: 120px;
  color: white;
  font-size: 14px;
  border: 2px solid white;
  box-shadow: none;
  cursor: pointer;
  background-color: #333333;
  transition: all 0.15s ease;
  margin: 0 auto;
}

.view-toggle:focus {
  outline: 0;
}

.view-toggle:hover {
  color: #333333;
  background-color: white;
}

.read h1, .read h2 {
  text-align: center;
}

body.dark .markdown-textarea {
  background-color: #333333;
  color: white;
}

body.light .markdown-textarea {
  background-color: white;
  color: #333333;
}

.markdown-textarea {
  display: block;
  padding: 1em;
  border: none;
  /* box-shadow: 0 1px 5px 1px rgba( 0, 0, 0, 0.1 ); */
  margin: 0 auto;
  caret-color: red;
  width: 100%;
  height: 100%;
  font-family: 'Menlo';
  font-size: 18px;
  resize: none;
}

textarea::-webkit-input-placeholder{
  width: 5px;
}

.markdown-textarea:focus {
  outline: 0;
}

body.light .read {
  color: #333333;
}

body.dark .read {
  color: white;
}

.read {
  display: block;
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 75%;
  font-family: 'Menlo';
  font-size: 16px;
}
