* {
  box-sizing: border-box;
}

html, body {
  /*background-color: #E8755C;*/
  margin: 0;
}

/********** COLOR MODES **********/

body.light {
  background-color: white;
  color: #333333;
}

body.dark {
  background-color: #333333;
  color: white;
}

/********** MAIN **********/

.virtualmark {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: stretch;
  font-family: 'Menlo';
}

.view {
  height: 100vh;
  flex: 2;
  text-align: left;
}

/********** RIGHTBAR **********/

.rightbar {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 10;
  transition: background-color 0.10s ease, color 0.10s ease;
}

body.light .rightbar .counts {
  color: #444;
  opacity: 0.35;
  font-size: 12px;
}

body.dark .rightbar .counts {
  color: #DCDCDC;
  opacity: 0.35;
  font-size: 12px;
}

/********** LEFTBAR **********/

.leftbar {
  width: 20vw;
  height: 100vh;
  display: flex;
  padding: 1em 1em 1em 2em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
  overflow: scroll;
}

.leftbar h2.read-header, .leftbar h2.write-header {
  margin: 0;
  padding: 0.75em;
  border-top: none !important;
}

body.light .leftbar .write-header {
  background-color: white;
  border: 2px solid  #333333;
  color: #333333;
}

body.light .leftbar .read-header {
  background-color: #333333;
  border: 2px solid white;
  color: white;
}

body.dark .leftbar .read-header {
  background-color: white;
  border: 2px solid  #333333;
  color: #333333;
}

body.dark .leftbar .write-header {
  background-color: #333333;
  border: 2px solid white;
  color: white;
}

.buttons > * {
  font-family: 'Helvetica';
  font-weight: 300;
  width: 120px;
  flex: 2 0 auto;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 0;
}

.images {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.images .image {
  margin: 1em 0;
  flex: 0 2 auto;
}

.image img {
  width: 100%;
}

.items {
  flex: 1;
}

.color-mode {
  padding: 0.5em;
}

.view-toggle {
  display: inline-block;
  width: 120px;
  color: white;
  font-size: 14px;
  border: 2px solid white;
  box-shadow: none;
  cursor: pointer;
  background-color: #333333;
  transition: all 0.15s ease;
  margin: 0 auto;
}

.view-toggle:focus {
  outline: 0;
}

.view-toggle:hover {
  color: #333333;
  background-color: white;
}


/********** EDITOR **********/

body.dark .editor {
  background-color: #333333;
  color: white;
}

body.light .editor {
  background-color: white;
  color: #333333;
}

.editor {
  display: block;
  padding: 2em 18vw 1em 1em;
  border: none;
  margin: 0 auto;
  caret-color: red;
  width: 100%;
  height: 100%;
  font-family: 'Menlo';
  font-size: 18px;
  resize: none;
}

textarea::-webkit-input-placeholder{
  width: 5px;
}

.editor:focus {
  outline: 0;
}

/********** READ **********/

.read-view {
  padding: 2em 20vw 1em 1em;
}

body.light .read {
  color: #333333;
}

body.dark .read {
  color: white;
}

.read {
  color: white;
  height: 75%;
  font-family: Helvetica;
  font-size: 16px;
}

.read a {
  text-decoration: none;
  transition: all 0.15s ease;
}

body.dark .read a {
  color: #CACACA;
  font-style: italic;
}

body.dark .read a:hover {
  color: #EEE;
  font-style: italic;
}

.read h1 {
  text-align: center;
}

.read img {
  max-width: 100%;
}
